<%- include("includes/head.ejs") %>
  </head>

  <body>
    <%- include("includes/nav.ejs") %>
    <main>
      <form action="/" method="POST">
        <div>
          <label>Username</label>
          <input type="text" name="username">
        </div>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>

<%- include("includes/end.ejs") %>
