<body>
<%- include('title') %>
<h1>Submit page</h1>

<form action="/submit" method="POST">
  <label for="title">Book Title:</label>
  <input type="text" name="title"><br><br>
  <label for="author">Book Author:</label>
  <input type="text" name="author"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
