<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Books!</title>
</head>

<body>
  <%- include('title') %>


  <% books.forEach(function (book) {%>
    <h3>
      Book Title: <%= book.title %>
    </h3>
    <p>
      Book Author: <%= book.author %>
    </p>
  <% }) %>

</body>

</html>
